* {
    color: aliceblue;
}

.container{
    padding: 0px;
}
.card-container{
    width: 318px;
    height: 198px;
    background: #47494e;
    text-align: center;
    margin-left: 16%;
    margin-top: 5%;
    border-radius: 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}
.card-container:hover{
    background:#47494e;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}

.sim-image{
    text-align: end;
    top: -7px;
    right: 10px;
    position: relative;
}
.card-details{
    padding-top: 43px;
    padding-left: 10px;
        text-align: left;
        font-family: system-ui;

}
.card-organization{
    text-align: start;
    top: 30px;
    /* right: 10px; */
    left: 10px;
    position: relative;
}


.holder-name{
font-size: 19px;
}

.card-number{
font-size: 12px;
    padding-top: 12px;
    font-weight: 300;

}

.ammount{
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
}


.empty-card{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 27px;
    margin-top: 56px;
    font-family: system-ui;
    font-weight: 250;
}



body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: 'Raleway';
}
#credit-card-label{
    width: 300px;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    margin-left: 17%;
    font-family: system-ui;
    color: white;
}

.credit-container{
    display: grid;
    justify-content: center;
}
.invalid-input{
   color: red;
   font-family: sans-serif;
   font-size: 10px;
   top: -7px;
    position: relative;
}
.payment-title {
    width: 100%;
    text-align: center;
    color: white;
}
button{
    height: 51px;
    top: 20px;
    position: relative;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 10px;
}
.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 16px;
    font-family: sans-serif;
    color: aliceblue;
}

input {
    margin: 3px 0px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}
