/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100%;
    background: #3d4348;
}


/* Color variables for CSS*/

$white-color : #fff;
$black-color : #000;
$grey-background : #3d4348;
$blue-background : #97B1BF;